body {
    display: grid;
    grid-template-rows: auto 5fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
}

header {
    display: flex;
    grid-area: header;
    background-color: rgb(25, 5, 91);
    align-items: center;
}

#title-img {
    height: auto;
    width: 110px;
    margin: 20px;
}

li {
    margin: 10px;
    list-style: none;
}

a {
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.mainmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: antiquewhite;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0, 3 ease-in-out;
    transition: all 0, 3 ease-in-out;
    background-color: orange;
}

main {
    grid-area: "main";
}

footer {
    grid-area: "footer";
    padding: 15px;
    background-color: rgb(25, 5, 91);
}

.main-container {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    background-color: purple;
}

.side {
    display: flex;
    flex: 1;
}

.middle {
    display: flex;
    flex: 1;
    padding: 30px;
    flex-direction: column;
}

.first-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

.second-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: purple;
}

label,
p,
h2 {
    font-size: larger;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.form-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-one {
    display: flex;
    flex: 1;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}

.input-two {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.col {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 350px;
}

.img {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#img1 {
    height: 100px;
    width: 120px;
    animation: spinHorizontal 5s infinite linear;
}

h2 {
    animation: color 1s linear infinite;
}

@keyframes color {
    50% {
        color: orange;
    }
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.vedio {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    margin-top: 20px;
    height: 65px;
    font-weight: bold;
    font-size: medium;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 0.5em 0 orange;
}

input[type=text] {
    height: 55px;
    border-radius: 10px;
}

input[type=email] {
    height: 55px;
    border-radius: 10px;
}

input[type="checkbox"] {
    display: none;
}

select {
    height: 60px;
    border-radius: 10px;
}

/* Mobile responsive version */


@media screen and (max-width: 760px) {

    .first-row {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        justify-items: center;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: normal;
        margin: 20px;
    }

    .side {
        display: none;
    }

    .middle {
        padding: 30px 100px;
    }

    .mainmenu {
        display: flex;
        flex-flow: column;
        margin: 0;
        padding: 0;
        gap: 15px;
    }

    header {
        display: flex;
        flex-flow: column;
        align-items: normal;
    }

    .mobile {
        display: flex;
        flex-flow: row;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .hamburger {
        display: inline-block;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    input[type="checkbox"]:checked+nav {
        display: block;
    }
}